* {
  text-align: center;
}
h1 {
  color: blue;
  text-transform: capitalize;
  font-size: 3rem;
}
body {
  background-color: darkgoldenrod;
}
button {
  padding: 0.5rem 1rem;
  border: none;
  margin: 0.3rem;
}
.inc {
  background-color: green;
  color: white;
}
.dec {
  background-color: red;
  color: white;
}